/* app css stylesheet */

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 10px;
    clear: both;
    text-align: center;
}

.card {
    border-width: 1px;
    border-style: solid;
    width: 5%;
    margin: 1%;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.red {
    color: red;
    border-color: red;
}

.black {
    color: black;
    border-color: black;
}
