/* app css stylesheet */

h1 {
    text-align: center;
}

button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    font-size: 0.88889rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

.container {
    overflow: auto;
    margin-bottom: 10px;
    clear: both;
    text-align: center;
}

.card {
    border-width: 1px;
    border-style: solid;
    width: 5%; /* 7.69 */
    margin: 1%;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 3px;
}

@media all and (max-width: 640px) {
    .card {
        font-size: 14px;
    }
}

.red {
    color: red;
    border-color: red;
}

.black {
    color: black;
    border-color: black;
}
